 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Roboto+Mono:wght@200;400&display=swap'); 

.App {
  text-align: center;
  width: 80%;
  width: auto;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.cardContent {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.inputChar {
  border-radius: 5px;
  width: 100%;
  padding: 5px 0; 
  border: 1px solid #cecece; 
  text-align: center;
  caret-color: transparent;
}

.inputChar::placeholder {
  font-size: 15px;
  text-align: center;
}




